# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=blog

# JWT / Seguridad
JWT_SECRET=un_secreto_largo_y_aleatorio

# Gmail (envío de correos)
GMAIL_USER=smtp.gmail.com
GMAIL_APP_PASSWORD=465

# Aplicación (URLs usadas en correos)
APP_URL=https://tudominio.com

# Internacionalización (opcional si cambias)
FALLBACK_LANG=en

# Otros (si los usas)
GMAIL_RECIPIENTS=admin@tudominio.com,soporte@tudominio.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxx